[submodule "thirdparty/e9patch"]
	path = thirdparty/e9patch
	url = https://github.com/GJDuck/e9patch.git
	ignore = dirty
[submodule "thirdparty/AFL"]
	path = thirdparty/AFL
	url = https://github.com/yuntongzhang/AFL.git
	ignore = dirty
[submodule "thirdparty/cvc5"]
	path = thirdparty/cvc5
	url = https://github.com/cvc5/cvc5.git
	ignore = dirty
[submodule "thirdparty/daikon"]
	path = thirdparty/daikon
	url = https://github.com/yuntongzhang/daikon.git
	ignore = dirty
[submodule "Danmuji"]
	path = thirdparty/Danmuji
	url = https://github.com/pslhy/Danmuji.git
	ignore = dirty
[submodule "thirdparty/DAFL"]
	path = thirdparty/DAFL
	url = https://github.com/pslhy/DAFL.git
[submodule "thirdparty/smake"]
	path = thirdparty/smake
	url = https://github.com/prosyslab/smake.git
[submodule "thirdparty/sparrow"]
	path = thirdparty/sparrow
	url = https://github.com/prosyslab/sparrow.git
[submodule "thirdparty/aflgo"]
	path = thirdparty/aflgo
	url = https://github.com/aflgo/aflgo.git
[submodule "thirdparty/WindRanger"]
	path = thirdparty/WindRanger
	url = https://github.com/hsh814/WindRanger.git
[submodule "thirdparty/Beacon"]
	path = thirdparty/Beacon
	url = https://github.com/hsh814/Beacon.git
